.footer {
  text-align: center;
  padding: 2rem;
  margin-top: 2rem;
  font-size: 0.9rem;
  width: 1155px;
}
@media (max-width: 480px){
  .footer{
    width: 85%;
  }
  .footer p{
    font-size: 12px;
  }
}
