.footer {
  text-align: center;
  padding: 2rem;
  margin-top: 2rem;
  font-size: 0.9rem;

}
@media (max-width: 480px){
  .footer p{
    font-size: 12px;
  }
}
@media (max-width: 768px){
  .footer p{
    font-size: 0.8rem;
  }
}
