.hero {
    background: linear-gradient(to right bottom,rgba(94, 176, 190, 0.406), rgba(0, 0, 0, 0.93));
    background-size: cover;
    width: 94.5%;
    text-align: center;
    padding: 5rem 2rem;
    opacity: 0;
    transform: translateY(30px);
    animation: fadeUp 3s ease forwards;
}
    @keyframes fadeUp {
      to {
        opacity: 1;
        transform: translateY(0);
      }
    }

.hero h2 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 3.5rem;
    margin-bottom: 1rem;
    text-shadow: 2px 2px 4px gray;
}

.hero p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    margin-bottom: 1.8rem;
}

.btn {
    font-family: 'Times New Roman', Times, serif;
    background: #58a6ff;
    color: #fff;
    padding: 0.7rem 1.5rem;
    border-radius: 5px;
    text-decoration: none;
    box-shadow: 2px 2px 4px rgb(236, 237, 237);
}

.btn:hover {
  background: #1f6feb;
}

/* Content Section */
.content {
  padding: 3rem;
  max-width: 800px;
  margin: auto;
}
@media (max-width: 480px){
  .hero {
    width: 83%;
  }
  .hero h2{
    font-size: 2rem;
  }
  .hero p{
    font-size: 10px;
  }

}
@media (max-width: 768px){
   .hero {
    width: 88%;
  }
}
